body{
    background-color: #f1f1f1;
}
/***Header***/
.navbar-default{
    border-radius: 0;
    margin: 0;
    background-color: #f1f1f1;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.22);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.22);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.22);
}
.logo h1{
    margin: 0;
    line-height: 85px;
}
.logo{
    color: #505050;
}
.logo:hover{
    text-decoration: none;
    color: #505050;
}
.navbar-collapse{
    float: right;
    margin-top: 27px;
}
.navbar-collapse a{
    padding: 5px 15px !important;
}
#actived{
    border: 1px solid #dedede;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 1px 0px 0px rgba(255,255,255,1);
    box-shadow: 0px 1px 0px 0px rgba(255,255,255,1);
    background: -webkit-linear-gradient(#ffffff, #efefef);
    background: -o-linear-gradient(#ffffff, #efefef);
    background: -moz-linear-gradient(#ffffff, #efefef);
    background: linear-gradient(#ffffff, #efefef);
}
.navbar-toggle{
    float: left
}
/***Slider***/
.slider{
    text-align: center;
    border-bottom: 1px solid #dfdfdf;
}
.slider img{
    margin: 20px 0;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.49);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.49);
    border-radius: 5px;
    margin: 35px 0;
    width: 100%;
}
/***Article***/
article{
    border-top: 1px solid #ffffff;
    margin-bottom: 90px;
}
.top-article{
    color: #595959;
    font-size: 22px;
    margin: 20px 0;
}
.sub-article{
    color: #505050;
}
.sub-article img{
    width: 100%;
}
.sub-article h2{
    font-size: 24px;
    margin: 10px 0 15px 0;
}
.sub-article p{
    font-size: 13px;
}
.btn-article{
    padding: 0;
    border: 1px solid rgba(225,225,225,0.7);
    border-radius: 10px;
    z-index: 1;
    position: relative;
    background: #ccc;
    text-align: center;
    height: 40px;
    line-height: 35px;
    margin-top: 32px;
}
.btn-article:before {
    content: "View Prortfolio";
    background: #eee;
    position: absolute;
    bottom: 5px;
    border: 1px solid rgba(225,225,225,0.7);
    z-index: -1;
    height: 100%;
    width: 100%;
    left: 0;
    border-radius: 10px;
}
.padding-left-0{
    padding-left: 0;
}
/***Footer***/
footer{
    background-color: #272727;
    padding-top: 30px;
    padding-bottom: 60px;
}
footer ul{
    list-style: none;
    padding: 0;
}
footer ul li{
    padding: 2px 0;
    border-bottom: 1px solid #161616;
    border-top: 1px solid #353535;
}
footer ul li:first-child{
    border-top: none;
}
footer ul li:last-child{
    border-bottom: none;
}
footer ul li a, footer ul li div, footer ul li a:hover{
    color: #d7d7d7;
    font-size: 13px;
    text-decoration: none;
    line-height: 30px;
}
footer ul li:first-child a{
    font-size: 20px;
    color: #f1f1f1;
}
.btn-subscribe{
    width: 100%;
    text-align: right;
    background-color: #232323;
    padding: 5px 7px 5px 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.22);
    -moz-box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.22);
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.22);
}
.btn-subscribe button{
    border-radius: 5px;
    color: #4a4a4a;
    border: none;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.3);
    background: -webkit-linear-gradient(#f3f3f3, #cecece);
    background: -o-linear-gradient(#f3f3f3, #cecece);
    background: -moz-linear-gradient(#f3f3f3, #cecece);
    background: linear-gradient(#f3f3f3, #cecece);
}
@media screen and (max-width: 767px){
    .navbar-collapse{
        float: left;
        border: none;
    }
    .navbar-nav {
        margin: 0px;
    }
}